
<h1 mat-dialog-title>Description: </h1>
  <div mat-dialog-content>
    <p>{{data.description}}</p>
  </div>
<div mat-dialog-actions>
    <mat-checkbox class="mat-cb" color="primary" [(ngModel)]="isChecked">I agree to start</mat-checkbox>
    <button mat-flat-button color="primary" (click)="onClick()">Proceed</button>
</div>
