<mat-card>
    <mat-card-content>
        <h2 class="example-h2">Test Name: {{test?.name}}</h2>

        <label id="example-radio-group-label"><h3>Question: {{question?.text}}</h3></label>
        <br>
        <mat-radio-group aria-labelledby="example-radio-group-label" *ngFor="let ans of question?.answers" [(ngModel)]="answer"> 
            <mat-radio-button class="mat-radio-button" [value]="ans">{{ans?.text}}</mat-radio-button>
            <br>
        </mat-radio-group>
        <label id="example-radio-group-label"><button mat-flat-button color="primary" (click)='onClick(answer.id)'>Next</button></label>
        
    </mat-card-content>
  </mat-card>
