<div>
  <div class="topnav">  
    <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a [routerLink]="['/test']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf='isLoggedIn'>Tests</a>
    
    <button *ngIf='!isLoggedIn && !hideLoggedInForm' mat-flat-button color="primary" (click)='hideLoggedIn()'>Registration</button>
    <button *ngIf='!isLoggedIn && hideLoggedInForm' mat-flat-button color="primary" (click)='showLoggedIn()'>Login</button>

    <button *ngIf='isLoggedIn' mat-flat-button color="primary" (click)='logout()'>Logout</button>
    <button *ngIf='isLoggedIn && !isItemsShowed' mat-flat-button color="primary" (click)='getMyRes()'>Show my results</button>
    <button *ngIf='isLoggedIn && isItemsShowed' mat-flat-button color="primary" (click)='deleteMyRes()'>Hide my results</button>
  </div>

  <mat-card *ngIf='!isLoggedIn && !hideLoggedInForm'>
    <mat-form-field class="example-form-field">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="user@email.com" #email>
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Password</mat-label>
      <input type="password" matInput #password>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)='login(email.value, password.value)'>Login</button>
  </mat-card>

  <mat-card *ngIf='!isLoggedIn && hideLoggedInForm'>
    <mat-form-field class="example-form-field">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="user@email.com" #email>
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Password</mat-label>
      <input type="password" matInput #password>
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Username</mat-label>
      <input type="text" matInput #userName>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)='logup(email.value, password.value, userName.value)'>Logup</button>
  </mat-card>

  <mat-card *ngIf='isLoggedIn'>
    
    <mat-card-content>
      <p *ngFor="let result of results">Test name: {{result.testName}}  Result: {{result.correctAnswersCount}}/{{result.wrongAnswersCount+result.correctAnswersCount}}</p>
    </mat-card-content>
  </mat-card>

  <router-outlet></router-outlet>
</div>