.topnav{
    overflow: hidden;
    background-color: #333;
}
.topnav button{
    margin-top: 6px;
}
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    background-color: #ddd;
    color: #000;
}
.topnav a:active{
    background-color: #4caf50;
    color: fff;
}
.example-form-field{
    margin-right: 20px;
}
button{
    margin-left: 10px;
}