/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.cdk-overlay-pane{
    max-width: auto;
    padding: 40px;
}

dialog{
    display: block;
    border: none;
    text-align: center;
    max-width: 300px;
}
.mat-cb{
    display: block;
    margin-right: 20px;
}
.mat-radio-button{
    margin-bottom: 10px;
}